@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #fbf8f1;
}

li,
a,
label,
p,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fbf8f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 5%;
  background-color: #1a1a40;
}

.logo {
  cursor: pointer;
  width: 10%;
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li,
a {
  transition: all 0.3s ease 0s;
}

.nav_links li,
a:hover {
  color: #ffadf0;
}

button {
  padding: 9px 25px;
  background-color: #fbf8f1;
  color: #1a1a40;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #ffadf0;
  color: #fbf8f1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_cover {
  display: flex;
  background: url("https://images.wallpaperscraft.com/image/single/concert_performance_light_organ_137789_3840x2160.jpg");
  background-size: cover;
}

.login_container {
  margin-top: 6%;
  margin-bottom: 6%;
  width: 500px;
  height: 650px;
  padding: 15px;
  background-color: #10101b;
  border-radius: 5%;
  margin-left: 30px;
  box-shadow: 3px 3px 20px 20px rgb(0 0 0 / 20%);
}

.logo_container {
  width: 100%;
  height: 20%;
  display: inline-block;
}

.login_logo {
  cursor: pointer;
  text-align: center;
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.signup_logo {
  cursor: pointer;
  text-align: center;
  display: flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.login_forms {
  margin-top: 55px;
  padding: 10px 5px 10px 5px;
  display: inline-block;
  width: 100%;
}

.signup_forms {
  padding: 10px 5px 10px 5px;
  display: inline-block;
  width: 100%;
}

.form-group {
  padding-top: 10px;
  margin-bottom: 1em;
  transition: all 0.3s;
}

.form-label {
  display: block;
  opacity: 2;
  transform: translateY(-1.25em);
  transform-origin: 0 0;
  transition: all 0.3s;
}

.form-control {
  box-shadow: none;
  background-color: #10101b;
  border-radius: 0px;
  border-color: #fbf8f1;
  border-style: none none solid none;
  width: 100%;
  transition: all 0.5s;
  padding: 5px;
  color: #fbf8f1;
}

.form-control::placeholder {
  color: transparent;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #ffadf0;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  color: #ffadf0;
  transform: translateY(-2.35em) scale(0.8);
}

.form-group:focus-within {
  transform: scale(1.05, 1.05);
}

.p_container {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
