<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FUNPromotions</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <header>
        <img src='./static/FUN_white.png' class='logo' alt='logo' />
        <nav>
            <ul class='nav_links'>
                <li><a class='active' key='concerts' href='/concerts'>Concerts</a></li>
                <li><a key='experience' href='/experience'>Experience</a></li>
                <li><a key='profile' href='/profile'>Profile</a></li>
                <li><a key='aboutUs' href='/about_us'>About us</a></li>
            </ul>
        </nav>
        <a href='/buy_tickets'><button class='btn_register'>Buy tickets</button></a>
    </header>
</body>

</html>