<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FUNPromotions</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <div class="landing_cover">
        <div class="login_container">
            <div class="logo_container">
                <img class="login_logo" src='./static/FUN_white.png' alt="logo_login" />
            </div>
            <div class="login_forms">
                <h1>Log in</h1>
                <form action="" method="POST">
                    <div class="form-group">
                        <input type='text' class="form-control" name="username" placeholder="janeDoe34"></input>
                        <label for="username" class="form-label">Username</label>
                    </div>
                    <div class="form-group">
                        <input type='password' class="form-control" name="password" placeholder="janedoe12"></input>
                        <label for="password" class="form-label">Password</label>
                    </div>
                </form>
                <div class="center">
                    <button>Sign in</button>
                </div>
                <div class="p_container">
                    <p>If you do not have an account already, please <a href="/signup">sign up</a> and become a member
                        of our family.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>