<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>FUNPromotions</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>
    <div class="landing_cover">
        <div class="login_container">
            <div class="logo_container">
                <img class="signup_logo" src="static/FUN_white.png" alt="logo_login" />
            </div>
            <div class="signup_forms">
                <h1 class="h_enter">Create an account</h1>
                <form method="post">
                    <div class="form-group">
                        <input type='text' class="form-control" name="name" placeholder="Jane" id="name"></input>
                        <label for="name" class="form-label">Name</label>
                    </div>
                    <div class="form-group">
                        <input type='text' class="form-control" name="last_name" placeholder="Doe"></input>
                        <label for="last_name" class="form-label">Last name</label>
                    </div>
                    <div class="form-group">
                        <input type='text' class="form-control" name="username" placeholder="janedoe132"></input>
                        <label for="username" class="form-label">Username</label>
                    </div>
                    <div class="form-group">
                        <input type='text' class="form-control" name="email" placeholder="janedoe@example.com"></input>
                        <label for="email" class="form-label">E-mail</label>
                    </div>
                    <div class="form-group">
                        <input type='password' class="form-control" name="password" placeholder="jd321"></input>
                        <label for="pasword" class="form-label">Password</label>
                    </div>
                    <div class="center">
                        <button class="btn_register" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>